default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-illegal-windows-names
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: 'mod/addons/.+?/\$PBOPREFIX\$'
      - id: trailing-whitespace
